<script src="{{ site.baseurl }}/js/jquery/jquery.min.js"></script>
<script src="{{ site.baseurl }}/js/jquery/jquery-ui.min.js"></script>
<script src="{{ site.baseurl }}/js/bootstrap/bootstrap.bundle.min.js"></script>
<script src="{{ site.baseurl }}/js/agency/agency.js"></script>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.8.1/css/all.css" integrity="sha384-50oBUHEmvpQ+1lW4y57PTFmhCaXp0ML5d60M1M7uH2+nqUivzIebhndOJK28anvf" crossorigin="anonymous">

<script type="text/javascript">
  WebFontConfig = {
    google: { families: [ 'Montserrat:400,700', 'Droid+Serif:400,700,400italic,700italic', 'Roboto+Slab:400,100,300,700' ] }
  };
  (function() {
    var wf = document.createElement('script');
    wf.src = ('https:' == document.location.protocol ? 'https' : 'http') +
      '://ajax.googleapis.com/ajax/libs/webfont/1.5.18/webfont.js';
    wf.type = 'text/javascript';
    wf.async = 'true';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(wf, s);
  })(); </script>
