<div class="sticky-side">

  <ul class="sticky-side-list">
    <li><a class="about-link" href="mailto:arnaudwald[at]gmail[dot]com">
      <i class='fas fa-envelope fa-fw'></i> Email
    </a></li>

    <li><a class="about-link" href="https://www.linkedin.com/in/arnaudwald">
      <i class='fab fa-linkedin fa-fw'></i> LinkedIn
    </a></li>

    <li><a class="about-link" href="https://github.com/DuanraDlaw">
      <i class='fab fa-github fa-fw'></i> Github
    </a></li>

    <li><a class="about-link" href="/pdf/CV_Arnaud_Wald.pdf">
      <i class='fas fa-file-pdf fa-fw'></i> CV
    </a></li>
  </ul>

</div>
